* {
    border: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p, input, button {
    font-size: 20px;
}

a {
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left-side {
    height: 100vh;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.right-side {
    background-color: darkslategrey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    
}

.right-side > form {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 0.5em;

    
}

.right-side > form > input {
   border-radius: 5px;
   
}

.right-side > form > button {
    background-color: #596D48;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    
}